ul,
a,
h2,
h3,
h4,
p {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* header{} */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__box {
    min-width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 72px;
    margin-right: 16px;
}

/* .header__logo-silka{} */

.logo {
    width: 50px;
    height: 50px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 100px;
}

/* .header__item{} */

.header__silka {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.header__text {
    display: flex;
    align-items: center;
    gap: 11px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.header__text::before {
    width: 20px;
    height: 24px;
    display: block;
    content: '';
    background-image: url('../img/header--gps.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__shop {
    width: 25px;
    height: 25px;
}

/* header */

/* .hero{} */

/* .hero__container{} */

.hero-photo {
    width: 1327px;
    margin: 0 auto;
}

.hero__photo {
    width: 1327px;
    height: 746px;
    margin: 49px auto 80px;
}

.hero__info {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 136px;
    margin: 0 auto;
}

.hero__title {
    width: 355px;
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
}

.hero__text {
    width: 569px;
    color: rgb(170, 170, 170);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

/* hero */

/* .interior{} */

/* interior__container{} */

.interior__box {
    max-width: 1296px;
    margin: 0 auto;
    margin-top: 210px;
}

.interior__list {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
}

.interior__item {
    max-width: 588px;
}

.interior__photo {
    width: 588px;
    height: 412;
    margin-bottom: 9px;
}

.interior__text {
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

/* interior */

/* .brand{} */

/* brand__container{} */

.brand__box {
    max-width: 1090px;
    margin: 212px auto 0;
}

.brand__title {
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin-bottom: 27px;
}

.brand__text {
    color: rgb(74, 74, 74);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 125px;
}

/* .brand__box-list{} */

.brand__list {
    max-width: 1090px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 55px;
}

/* .brand__item{} */

/* .item__photo{} */

/* brand */

/* .copani{} */

/* .copani__container{} */

.copani__box {
    max-width: 1344px;
    margin: 190px auto 0;
}

.copani__photo {
    max-width: 1344px;
    height: 700px;
}

/* copani */

/* .work{} */

/* .work__container{} */

.work__box {
    max-width: 1090px;
    margin: 83px auto 0;
}

.work__title {
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
}

.work__text {
    color: rgb(70, 133, 110);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.work__list {
    max-width: 1090px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.work__item {
    max-width: 323px;
}

.work__item-box {
    width: 162px;
    margin: 0 auto 26px;
}

.work__item-photo {
    width: 162px;
    height: 121px;
}

.work__item-title {
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 18px;
}

.work__item-text {
    color: rgb(170, 170, 170);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 21px;
}

/* work */

/* .estimation{} */

/* .estimation__contaner{} */

.estimation__box {
    margin: 240px auto 0;
    max-width: 1340px;
    height: 800px;
    background-image: url('../img/estimation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.estimation__info {
    max-width: 1200px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 120px;
}

.estimation__list {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 39px;
}

.estimation__item {
    max-width: 350px;
}

.estimation__item-box {
    max-width: 228px;
}

.estimation__item-list {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 7px;
}

/* .estimation__item-item{} */

.estimation__item-photo {
    width: 21px;
    height: 20px;
}

.estimation__item-text {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

.estimation__item-brand {
    max-width: 100px;
}

.estimation__info-text {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

/* estimation */

/* .conveniences{} */

/* .conveniences__container{} */

.conveniences__box1-info {
    min-width: 882px;
    margin: 240px auto 135px;
}

.box1-info__text {
    color: rgb(170, 170, 170);
    font-family: sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 25px;
}

.box1__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
}

.conveniences__box2-info {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 90px;
    margin-bottom: 64px;
}

.conveniences__photo {
    width: 671px;
    height: 672px;
}

.conveniences__we-sell-direct {
    max-width: 529px;
    height: 156px;
}

.we-sell-direct__title {
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 27px;
}

.we-sell-direct__text {
    max-width: 311px;
    color: rgb(170, 170, 170);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

/* .see{} */

/* see__container{} */

.see__box {
    max-width: 1344px;
    margin: 288px auto 0;
}

.see__photo {
    width: 1340px;
}

/* .trial-version{} */

/* .trial-version__container{} */

.trial-version__box {
    max-width: 1200px;
    margin: 286px auto 79px;
    border-radius: 2px;
    background: rgb(242, 242, 242);
}

.trial-version__title {
    padding-top: 63px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 50.6px;
    text-align: center;
}

.trial-version__list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trial-version__item {
    max-width: 200px;
    margin: 65px 0;
}

.trial-version__item-photo {
    width: 64px;
    height: 64px;
    margin-bottom: 22px;
}

.trial-version__item-text {
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.75px;
    text-align: center;
    text-transform: uppercase;
}

.trial-version__btn {
    display: block;
    margin: 0 auto;
    border: 0.5px solid transparent;
    border-radius: 2px;
    background: rgb(70, 133, 110);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
}

.trial-version__btn:hover {
    border: 1px solid white;
    background: black;
}

.trial-version__text {
    color: rgb(170, 170, 170);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    margin-top: 26px;
}