ul,
a,
h2,
h3,
h4,
p {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* header{} */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__box {
    min-width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 72px;
    margin-right: 16px;
}

/* .header__logo-silka{} */

.logo {
    width: 50px;
    height: 50px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 100px;
}

/* .header__item{} */

.header__silka {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.header__text {
    display: flex;
    align-items: center;
    gap: 11px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.header__text::before {
    width: 20px;
    height: 24px;
    display: block;
    content: '';
    background-image: url('../img/header--gps.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__shop {
    width: 25px;
    height: 25px;
}

/* header */

/* .hero{} */

/* .hero__container{} */

.hero-photo {
    width: 1327px;
    margin: 0 auto;
}

.hero__photo {
    width: 1327px;
    height: 746px;
    margin: 49px auto 80px;
}

.hero__info {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 136px;
    margin: 0 auto;
}

.hero__title {
    width: 355px;
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
}

.hero__text {
    width: 569px;
    color: rgb(170, 170, 170);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

/* hero */

/* .interior{} */

/* interior__container{} */

.interior__box{
    max-width: 1296px;
    margin: 0 auto;
    margin-top: 210px;
}

.interior__list {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
}

.interior__item{
    max-width: 588px;
}

.interior__photo{
    width: 588px;
    height: 412;
    margin-bottom: 9px;
}

.interior__text {
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

/* interior */